header .logo {
  vertical-align: middle; }

header h1 {
  color: yellow;
  display: inline-block;
  text-align: center;
  margin-left: 500px;
  font-family: 'Orbitron', sans-serif;
  font-size: 3rem; }

header nav {
  background-color: yellow; }
  header nav ul {
    list-style-type: none;
    height: 40px;
    text-align: center; }
    header nav ul li {
      margin-top: 10px;
      display: inline-block;
      border-left: 1px solid black; }
      header nav ul li:first-child {
        border-left: none; }
      header nav ul li a {
        text-decoration: none;
        padding: 0.5rem;
        font-family: 'Heebo', sans-serif;
        font-weight: 700;
        color: black; }
        header nav ul li a:hover {
          border-bottom: 2px solid black; }

footer .test-footer {
  text-align: center; }
  footer .test-footer a .redsocial {
    margin-top: 10px;
    width: 30px;
    height: 30px; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: black; }

main section h2 {
  font-family: 'Goldman', cursive;
  font-weight: lighter;
  font-size: 2.5rem;
  color: white;
  margin-top: 50px;
  text-align: center;
  padding: 1.5rem; }

main section .streamings img {
  width: 22rem;
  height: 22rem; }

main section h3 {
  font-family: 'Goldman', cursive;
  font-weight: lighter;
  font-size: 1.5rem;
  color: gray;
  text-align: center;
  padding: 1.5rem; }

main section .test-noticia {
  text-align: center; }
  main section .test-noticia a .noti {
    border: 2px outset white; }

main section .test-video {
  text-align: center; }
