@import "header";
@import "footer";

$padd: 1.5rem;
$img: 22rem;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    section{
        h2{
            color: white;
            margin-top: 50px;
            font-family: 'Goldman', cursive;
            font-weight: lighter;
            font-size: 2.5rem;
            text-align: center;
            padding: $padd;
        }
        .streamings{
            img{
                width: $img;
                height: $img;
            }
        }
        h3{
            color: grey;
            font-family: 'Goldman', cursive;
            font-weight: lighter;
            font-size: $padd;
            text-align: center;
            padding: $padd;
        }
        .test-noticia{
            text-align: center;
            a{
                .noti{
                    border: 2px outset white;
                }
            }
            
        }
        .test-video{
            text-align: center;
        }
    }
}
