@import "header";
@import "footer";

@mixin texto($size, $c){
    font-family: 'Goldman', cursive;
    font-weight: lighter;
    font-size: $size;
    color: $c;
}

$padd: 1.5rem;
$img: 22rem;

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

main{
    section{
        h2{
            @include texto(2.5rem, white);
            margin-top: 50px;
            text-align: center;
            padding: $padd;
        }
        .streamings{
            img{
                width: $img;
                height: $img;
            }
        }
        h3{
            @include texto(1.5rem, gray);
            text-align: center;
            padding: $padd;
        }
        .test-noticia{
            text-align: center;
            a{
                .noti{
                    border: 2px outset white;
                }
            }
            
        }
        .test-video{
            text-align: center;
        }
    }
}
